body {
	background-color: #F6F8F9;
}
/*header*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	z-index: 100;

}
.logo {
	display: inline-block;
	margin-right: 92px;
}
.nav {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.nav-li {
	display: inline-block;
	margin-right: 27px;
}
.nav-a {
	color: #343638;
	font-family: 'Josefin Slab', serif;
	transition: all 0.1s ease 0.1s;
}
.nav-a:hover {
	font-size: 17px;
	color: black;
}
.log {
	margin-left: 13px;
	transition: all 0.1s ease 0.1s;
}
.log:hover {
	transform: scale(1.5);
}
/*section1*/
.container1 {
	width: 1160px;
	margin: 0 auto 0 auto;
	margin-top: 100px;
}
.TRENDING {
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
	font-family: 'Single Day';
}
.news {
	display: inline-block;
	width: 360px;
}
.news-img {
	position: relative;
	top: 0;
	left: 0;
	width: 360px;
	height: 180px;
	transition: all 0.1s ease 0.1s;
	opacity: 0.8;
}
.news-img:hover {
	transform: scale(1.1, 1.1);
	z-index: 90;
	opacity: 1.0;
}
.news-title {
	position: absolute;
	top: 28px;
	left: 40px;
	color:  white;
	font-size: 16px;
	font-family: 'Shantell Sans';
}
.news-text {
	margin-top: 65px;
	margin-left: 40px;
	width: 280px;
	color: #A6ADB4;
	font-size: 13px;
	font-family: 'Bodoni Moda', serif;
	transition: all 0.1s ease-out 0.1s;

}
.news-text:hover {
	font-size: 18px;
	color: black;
}
.time {
	margin: 10px 0 0 40px;
}
.news-time {
	display: inline-block;
	margin-right: 10px
}
.news-time-text {
	display: inline-block;
	color: #CBD0D3;
	font-size: 13px;
}
/*section2*/
.container2 {
	margin: 58px auto 0 auto;
	width: 1160px;
}
.big-div {
	display: inline-block;
}
.big-img {
	position: relative;
	/*width: 760px;
	height: 430px;*/
	opacity: 0.9;
	transition: all 0.2s ease 0.2s;
}
.big-img:hover {
	opacity: 1.0;
}
.title-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;

}
.small-div {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.small-img {
	position: relative;
	margin: 0 0 102px 30px;
	opacity: 0.8;
	transition: all 0.1s ease 0.1s;
}
.small-img:hover {
 	transform: scale(1.3);
 	opacity: 1;
}
.text-small-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 17px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;

}
/*footer*/
.footer {
	background-color: #A6ADB4;
	padding: 56px 0 60px 142px;
}
.foot-logo {
	display: inline-block;
	vertical-align: top;
}
.foot-info {
	margin-right: 75px;
	display: inline-block; 
	margin-left: 90px;
}

.foot-list {
	color: #CBD0D3;
	font-size: 13px;
	margin-bottom: 10px;
}
.post {
	margin-left: 105px;
	color: #CBD0D3;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	font-family: 'Zeyada', cursive;

}
.soc-media {
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
}
.soc-icon {
	display: inline-block;
	margin-right: 32px;
	transition: all 0.1s ease 0.1s;
}
.soc-icon:hover {
	transform: scale(2);
}
/*discovery*/
.disc-container {
	margin: 90px auto 0 auto;
	width: 1200px;
}
.article-title {
	font-size: 22px;
	color: black;
	font-family: 'Shantell Sans';
}
.article-img {
	width: 495px;
	height: 280px;
	margin-top: 18px;
	display: inline-block;
	border-radius: 15px;
	transition: all 1s ease;
}
.article-img:hover {
	 
	transform: scale(1.6, 1.6);
}
.article-text-div {
	/*width: 500px;
	height: 280px;*/
	display: inline-block;
	margin: 23px 0 0 40px;
	width: 500px;
	vertical-align: top;
	transition: all 0.8s ease;
}
.article-text-div:hover {
	transform: scale(1.8, 1.8);
	background-color: silver;
}
.article-text {
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Bodoni Moda', serif;
	transition: all 0.8s ease;
}
/*photos*/
.photos-container {
	margin: 180px auto 0 auto;
	width: 1200px;
	/*position: relative;*/
}
.photo-div {
	width: 1200px;
	margin-bottom: 60px;
}
.photo {
	width: 350px;
	height: 250px;
	border-radius: 20px;
	margin-right: 40px;
	transition: all 2s ease-out;
}
.photo:hover {
	/*position: absolute;
	top: 50%;
	left: 50%;*/
	transform: rotate(360deg) scale(2) /*translate(-50%, -50%)*/;
}
.games-cont {
	width: 1200px;
	margin: 200px auto 250px auto;
}
.games {
	display: inline-block;
	width: 360px;
	height: 300px;
	border-radius: 30px;
	margin-right: 30px;
	transition: all 0.6s ease;
}
.games:hover {
	opacity: 0.8;
	transform: scale(1.4, 1.4);
}
.tetris-cont {
	width: 1200px;
	height: 700px;
	margin: 100px auto 50px auto;
	background-color: #000836;
	position: relative;
}
.tetris-line {
	width: 280px;
  	height: 60px;
  	margin-top: 640px;
  	background: red;
  	position: absolute;
  	animation: line 5s 1;
  }
 .tetris-boomerang {
 	width: 280px;
  	height: 60px;
  	margin-top: 640px;
  	margin-left: 280px;
  	background: #F6F8F9;
  	position: absolute;
  	animation: boomerang 5s 1 5s;
  }
	.tetris-boomerang-height {
		width: 60px;
  		height: 120px;
  		margin-top: 580px;
  		margin-left: 280px;
  		background: #F6F8F9;
  		position: absolute;
  		animation: boomerang-height 5s 1 5s;
 	}
 	.tetris-navel {
 		width: 280px;
  		height: 60px;
  		margin-top: 640px;
  		margin-left: 560px;
  		background: green;
  		position: absolute;
  		animation: navel 5s 1 10s;
 	}
 	.tetris-navel-center {
 		width: 60px;
  		height: 120px;
  		margin-top: 580px;
  		margin-left: 670px;
  		background: green;
  		position: absolute;
  		animation: navel-center 5s 1 10s;
 	}
.duck-hunt-cont {
	width: 1200px;
	height: 700px;
	margin: 100px auto 50px auto;
	background-color: #66FF00;
	position: relative;
	z-index: -2;
}
.duck1 {
	width: 70px;
	position: absolute;
	animation: duck1 7s infinite linear;
}
.duck2 {
	width: 70px;
	position: absolute;
	animation: duck2 7s infinite linear;}
.duck3 {
		width: 70px;
	position: absolute;
	animation: duck3 7s infinite linear;
}
.blueduck1 {
	width: 70px;
	position: absolute;
	animation: blueduck1 7s infinite linear;
}
.blueduck2 {
	width: 70px;
	position: absolute;
	animation: blueduck2 7s infinite linear;
}
.blueduck3 {
	width: 70px;
	position: absolute;
	animation: blueduck3 7s infinite linear;
}
.dog {
	width: 150px;
	position: absolute;
	animation: dog 7s infinite linear;
}
.tree {
	width: 250px;
	position: absolute;
	left: 200px;
	bottom: 200px;
	z-index: -1;
}
.tree2 {
	width: 350px;
	position: absolute;
	left: 500px;
	bottom: 250px;
	z-index: -1
}
.tree3 {
	width: 250px;
	position: absolute;
	left: 900px;
	bottom: 150px;
	z-index: -1
}
.tree4 {
	width: 250px;
	position: absolute;
	left: 50px;
	bottom: 150px;
	z-index: -1
}